:root {

    --Green-200-lighter: hsl(148, 38%, 91%);
    --Green-600-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500-medium: hsl(186, 15%, 59%);
    --Grey-900-darker: hsl(187, 24%, 22%);
    
    }
    
    *{
        margin: 0;
        padding: 0;
        text-align: left;
    }
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--Green-200-lighter);
    }
    form{
        margin: 100px auto;
        background-color: var(--White);
        padding: 24px 16px;
     
     
    }
    input[type='text']{
        border-radius: 8px;
        padding: 8px 16px;
        border: 1px solid var(--Grey-500-medium);
    
      
    }
    input[type='email'],input[type='text']:hover{
        border-color: var(--Green-600-medium);
    }
    
    
    input[type='email']{
        border-radius: 8px;
        padding: 8px 16px;
        border: 1px solid var(--Grey-500-medium);
    
    }
    
    
    .div-input{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-top: 24px;
    }
    
    .div-input-Lname,
    .div-input-Fname{
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-column: span 1;
    }
    
    .div-input-email{
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-column: span 2;
    }
    
    .div-query-type{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 24px 0;
     
    }
    
    .div-query-btn{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .div-query-btn > button {
        padding: 8px 46px;
        border-radius:8px ;
        background-color: var(--White);
        border: 1px solid var(--Grey-500-medium);
    
    
    }
    
    button[type='submit']{
        background-color: var(--Green-600-medium);
        padding: 8px 28px;
        width: 100%;
        text-align: center;
        color: var(--White);
        border-radius: 8px;
        border: 1px solid var(--Grey-500-medium);
        margin-top: 16px;
    }

    
      @media (max-width: 600px) {
    
        .div-input{
            display: flex;
            flex-direction: column;
           
          
        }
        
        textarea{
            width: 100%;
            height: 200px;
            border: 1px solid var(--Green-200-lighter);
            border-radius: 4px;
            margin-top: 12px;
        }
    
        form{
            width:82%;
            border-radius: 8px;
          
    
        }
        .div-query-btn{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .div-query-btn > button {
            padding: 16px 36px;
            border-radius:8px ;
            background-color: var(--White);
            border: 1px solid var(--Grey-500-medium);
        
        
        }
        input[type='text'],  input[type='email'],button[type='submit']{
            border-radius: 8px;
            padding: 16px 32px;
            
        
          
        }
        
        
        
      }